/.idea
setup.md5
config.php
app/plugins
app/rand
app/images
!app/images/index.html
!app/images/blank*
*.log
*.cache
*.zip
!images.zip
test*.php
app/admin/backups
config.bak.php
*.sql
!orpm.sql
file-uploader.php