<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group applications_leases-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Applicant/ Tenant -->
		<div class="form-group applications_leases-tenants" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Applicant/ Tenant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tenants<%%RND1%%>"><%%COMBOTEXT(tenants)%%></span></div>
			</div>
		</div>
		<!-- Field: Application status -->
		<div class="form-group applications_leases-status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Application status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status)%%></div>
			</div>
		</div>
		<!-- Field: Property -->
		<div class="form-group applications_leases-property" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Property</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="property<%%RND1%%>"><%%COMBOTEXT(property)%%></span></div>
			</div>
		</div>
		<!-- Field: Unit applied for -->
		<div class="form-group applications_leases-unit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Unit applied for</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="unit<%%RND1%%>"><%%COMBOTEXT(unit)%%></span></div>
			</div>
		</div>
		<!-- Field: Lease type -->
		<div class="form-group applications_leases-type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Lease type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(type)%%></div>
			</div>
		</div>
		<!-- Field: Total number of occupants -->
		<div class="form-group applications_leases-total_number_of_occupants" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total number of occupants</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(total_number_of_occupants)%%></div>
			</div>
		</div>
		<!-- Field: Lease period from -->
		<div class="form-group applications_leases-start_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Lease period from</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(start_date)%%></div>
			</div>
		</div>
		<!-- Field: to -->
		<div class="form-group applications_leases-end_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">to</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(end_date)%%></div>
			</div>
		</div>
		<!-- Field: Recurring charges frequency -->
		<div class="form-group applications_leases-recurring_charges_frequency" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Recurring charges frequency</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(recurring_charges_frequency)%%></div>
			</div>
		</div>
		<!-- Field: Next due date -->
		<div class="form-group applications_leases-next_due_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Next due date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(next_due_date)%%></div>
			</div>
		</div>
		<!-- Field: Rental amount -->
		<div class="form-group applications_leases-rent" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Rental amount</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(rent)%%></div>
			</div>
		</div>
		<!-- Field: Security deposit -->
		<div class="form-group applications_leases-security_deposit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Security deposit</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(security_deposit)%%></div>
			</div>
		</div>
		<!-- Field: Security deposit date -->
		<div class="form-group applications_leases-security_deposit_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Security deposit date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(security_deposit_date)%%></div>
			</div>
		</div>
		<!-- Field: Emergency contact -->
		<div class="form-group applications_leases-emergency_contact" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Emergency contact</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(emergency_contact)%%></div>
			</div>
		</div>
		<!-- Field: Co signer details -->
		<div class="form-group applications_leases-co_signer_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Co signer details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(co_signer_details)%%></div>
			</div>
		</div>
		<!-- Field: Notes -->
		<div class="form-group applications_leases-notes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notes)%%></div>
			</div>
		</div>
		<!-- Field: Applicant agrees -->
		<div class="form-group applications_leases-agreement" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Applicant agrees</label>
			<div class="col-xs-9">
				<div class="form-control-static"><input type="checkbox" name="agreement" id="agreement" value="1" <%%CHECKED(agreement)%%> readonly></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
