<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group applicants_and_tenants-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Last name -->
		<div class="form-group applicants_and_tenants-last_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_name)%%></div>
			</div>
		</div>
		<!-- Field: First name -->
		<div class="form-group applicants_and_tenants-first_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">First name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(first_name)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group applicants_and_tenants-email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<!-- Field: Phone -->
		<div class="form-group applicants_and_tenants-phone" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(phone)%%></div>
			</div>
		</div>
		<!-- Field: Birth date -->
		<div class="form-group applicants_and_tenants-birth_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Birth date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(birth_date)%%></div>
			</div>
		</div>
		<!-- Field: Driver license number -->
		<div class="form-group applicants_and_tenants-driver_license_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Driver license number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(driver_license_number)%%></div>
			</div>
		</div>
		<!-- Field: Monthly gross pay -->
		<div class="form-group applicants_and_tenants-monthly_gross_pay" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Monthly gross pay</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(monthly_gross_pay)%%></div>
			</div>
		</div>
		<!-- Field: Additional income -->
		<div class="form-group applicants_and_tenants-additional_income" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Additional income</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(additional_income)%%></div>
			</div>
		</div>
		<!-- Field: Assets -->
		<div class="form-group applicants_and_tenants-assets" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Assets</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(assets)%%></div>
			</div>
		</div>
		<!-- Field: Status -->
		<div class="form-group applicants_and_tenants-status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="applicants_and_tenants-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=applicants_and_tenants-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'applicants_and_tenants',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'applicants_and_tenants-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

