<!-- To change the layout of the detail view form, we recommend using JS code in hooks/applicants_and_tenants-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="applicants_and_tenants_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="applicants_and_tenants_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="applications_leases_link"><img src="resources/table_icons/curriculum_vitae.png"> Applications/Leases</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_applications_leases_link"><img src="resources/table_icons/curriculum_vitae.png"> Applications/Leases</a>
			<input type="hidden" id="applications_leases_hclink" value="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="residence_and_rental_history_link"><img src="resources/table_icons/document_comment_above.png"> Residence and rental history</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_residence_and_rental_history_link"><img src="resources/table_icons/document_comment_above.png"> Residence and rental history</a>
			<input type="hidden" id="residence_and_rental_history_hclink" value="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="employment_and_income_history_link"><img src="resources/table_icons/cash_stack.png"> Employment and income history</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_employment_and_income_history_link"><img src="resources/table_icons/cash_stack.png"> Employment and income history</a>
			<input type="hidden" id="employment_and_income_history_hclink" value="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="references_link"><img src="resources/table_icons/application_from_storage.png"> References</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_references_link"><img src="resources/table_icons/application_from_storage.png"> References</a>
			<input type="hidden" id="references_hclink" value="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="applicants_and_tenants_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group applicants_and_tenants-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Last name -->
				<div class="form-group applicants_and_tenants-last_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="last_name">Last name</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="last_name" id="last_name" value="<%%VALUE(last_name)%%>">
					</div>
				</div>

				<!-- Field: First name -->
				<div class="form-group applicants_and_tenants-first_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="first_name">First name</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="first_name" id="first_name" value="<%%VALUE(first_name)%%>">
					</div>
				</div>

				<!-- Field: Email -->
				<div class="form-group applicants_and_tenants-email">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email-edit-link">Email</label>
					<div class="col-lg-9">
						<div>
							<a id="email-link" href="mailto:<%%VALUE(email)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(email)%%>"></i></a>
							<label for="email"><button type="button" id="email-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#email" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							<input maxlength="80" type="text" class="form-control collapse" name="email" id="email" value="<%%VALUE(email)%%>">
						</div>
						<script>/* disable empty links */ $j(() => { const e_email = '<%%VALUE(email)%%>'; if(e_email == '' || e_email == '&nbsp;' || e_email == 'blank.gif') { $j('#email-link').hide(); $j('#email-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Phone -->
				<div class="form-group applicants_and_tenants-phone">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="phone">Phone</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="phone" id="phone" value="<%%VALUE(phone)%%>">
					</div>
				</div>

				<!-- Field: Birth date -->
				<div class="form-group applicants_and_tenants-birth_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="birth_date-mm">Birth date</label>
					<div class="col-lg-9">
						<%%COMBO(birth_date)%%>
					</div>
				</div>

				<!-- Field: Driver license number -->
				<div class="form-group applicants_and_tenants-driver_license_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="driver_license_number">Driver license number</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="driver_license_number" id="driver_license_number" value="<%%VALUE(driver_license_number)%%>">
					</div>
				</div>

				<!-- Field: Monthly gross pay -->
				<div class="form-group applicants_and_tenants-monthly_gross_pay">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="monthly_gross_pay">Monthly gross pay</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="monthly_gross_pay" id="monthly_gross_pay" value="<%%VALUE(monthly_gross_pay)%%>">
					</div>
				</div>

				<!-- Field: Additional income -->
				<div class="form-group applicants_and_tenants-additional_income">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="additional_income">Additional income</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="additional_income" id="additional_income" value="<%%VALUE(additional_income)%%>">
					</div>
				</div>

				<!-- Field: Assets -->
				<div class="form-group applicants_and_tenants-assets">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="assets">Assets</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="assets" id="assets" value="<%%VALUE(assets)%%>">
					</div>
				</div>

				<!-- Field: Status -->
				<div class="form-group applicants_and_tenants-status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Status<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(status)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="applicants_and_tenants_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="applicants_and_tenants-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			$j('#applicants_and_tenants_dv_container-loading').addClass('hidden');
			$j('#applicants_and_tenants_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('applicants_and_tenants', 'last_name');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'applicants_and_tenants',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'applicants_and_tenants-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'applicants_and_tenants',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=applicants_and_tenants&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=applicants_and_tenants&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>