<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group employment_and_income_history-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Tenant -->
		<div class="form-group employment_and_income_history-tenant" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tenant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tenant<%%RND1%%>"><%%COMBOTEXT(tenant)%%></span></div>
			</div>
		</div>
		<!-- Field: Employer name -->
		<div class="form-group employment_and_income_history-employer_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employer name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(employer_name)%%></div>
			</div>
		</div>
		<!-- Field: City -->
		<div class="form-group employment_and_income_history-city" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(city)%%></div>
			</div>
		</div>
		<!-- Field: Employer phone -->
		<div class="form-group employment_and_income_history-employer_phone" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employer phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(employer_phone)%%></div>
			</div>
		</div>
		<!-- Field: employed from -->
		<div class="form-group employment_and_income_history-employed_from" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">employed from</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(employed_from)%%></div>
			</div>
		</div>
		<!-- Field: Employed till -->
		<div class="form-group employment_and_income_history-employed_till" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employed till</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(employed_till)%%></div>
			</div>
		</div>
		<!-- Field: Occupation -->
		<div class="form-group employment_and_income_history-occupation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Occupation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(occupation)%%></div>
			</div>
		</div>
		<!-- Field: Notes -->
		<div class="form-group employment_and_income_history-notes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notes)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
