		<td colspan="11" class="row">
			<div id="properties-property_name-<%%VALUE(id)%%>" class="properties-property_name col-sm-12 h5 text-bold"><%%VALUE(property_name)%%></div>
			<div class="col-md-3"><div id="properties-photo-<%%VALUE(id)%%>" class="properties-photo"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(photo)%%>" data-lightbox="properties-photo"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=properties&f=photo&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="properties-type-caption field-caption-tv">Type</dt>
					<dd id="properties-type-<%%VALUE(id)%%>" class="properties-type"><%%VALUE(type)%%></dd>

					<dt class="properties-number_of_units-caption field-caption-tv">Number of units</dt>
					<dd id="properties-number_of_units-<%%VALUE(id)%%>" class="properties-number_of_units"><%%VALUE(number_of_units)%%></dd>

					<dt class="properties-owner-caption field-caption-tv">Owner</dt>
					<dd id="properties-owner-<%%VALUE(id)%%>" class="properties-owner"><%%VALUE(owner)%%></dd>

					<dt class="properties-operating_account-caption field-caption-tv">Operating account</dt>
					<dd id="properties-operating_account-<%%VALUE(id)%%>" class="properties-operating_account"><%%VALUE(operating_account)%%></dd>

					<dt class="properties-property_reserve-caption field-caption-tv">Property reserve</dt>
					<dd id="properties-property_reserve-<%%VALUE(id)%%>" class="properties-property_reserve text-right"><%%VALUE(property_reserve)%%></dd>

					<dt class="properties-street-caption field-caption-tv">Street</dt>
					<dd id="properties-street-<%%VALUE(id)%%>" class="properties-street"><%%VALUE(street)%%></dd>

					<dt class="properties-City-caption field-caption-tv">City</dt>
					<dd id="properties-City-<%%VALUE(id)%%>" class="properties-City"><%%VALUE(City)%%></dd>

					<dt class="properties-State-caption field-caption-tv">State</dt>
					<dd id="properties-State-<%%VALUE(id)%%>" class="properties-State"><%%VALUE(State)%%></dd>

					<dt class="properties-ZIP-caption field-caption-tv">ZIP</dt>
					<dd id="properties-ZIP-<%%VALUE(id)%%>" class="properties-ZIP"><%%VALUE(ZIP)%%></dd>

				</dl>
			</div>
		</td>
