		<td colspan="11" class="row">
			<div id="properties-property_name-<%%VALUE(id)%%>" class="properties-property_name col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(property_name)%%><%%ENDSELECT%%></div>
			<div class="col-md-3"><div id="properties-photo-<%%VALUE(id)%%>" class="properties-photo"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(photo)%%>" data-lightbox="properties-photo"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=properties&f=photo&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="properties-type-caption field-caption-tv">Type</dt>
					<dd id="properties-type-<%%VALUE(id)%%>" class="properties-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></dd>

					<dt class="properties-number_of_units-caption field-caption-tv">Number of units</dt>
					<dd id="properties-number_of_units-<%%VALUE(id)%%>" class="properties-number_of_units"><%%SELECT%%><%%VALUE(number_of_units)%%><%%ENDSELECT%%></dd>

					<dt class="properties-owner-caption field-caption-tv">Owner</dt>
					<dd id="properties-owner-<%%VALUE(id)%%>" class="properties-owner"><%%SELECT%%><%%VALUE(owner)%%><%%ENDSELECT%%></dd>

					<dt class="properties-operating_account-caption field-caption-tv">Operating account</dt>
					<dd id="properties-operating_account-<%%VALUE(id)%%>" class="properties-operating_account"><%%SELECT%%><%%VALUE(operating_account)%%><%%ENDSELECT%%></dd>

					<dt class="properties-property_reserve-caption field-caption-tv">Property reserve</dt>
					<dd id="properties-property_reserve-<%%VALUE(id)%%>" class="properties-property_reserve text-right"><%%SELECT%%><%%VALUE(property_reserve)%%><%%ENDSELECT%%></dd>

					<dt class="properties-street-caption field-caption-tv">Street</dt>
					<dd id="properties-street-<%%VALUE(id)%%>" class="properties-street"><%%SELECT%%><%%VALUE(street)%%><%%ENDSELECT%%></dd>

					<dt class="properties-City-caption field-caption-tv">City</dt>
					<dd id="properties-City-<%%VALUE(id)%%>" class="properties-City"><%%SELECT%%><%%VALUE(City)%%><%%ENDSELECT%%></dd>

					<dt class="properties-State-caption field-caption-tv">State</dt>
					<dd id="properties-State-<%%VALUE(id)%%>" class="properties-State"><%%SELECT%%><%%VALUE(State)%%><%%ENDSELECT%%></dd>

					<dt class="properties-ZIP-caption field-caption-tv">ZIP</dt>
					<dd id="properties-ZIP-<%%VALUE(id)%%>" class="properties-ZIP"><%%SELECT%%><%%VALUE(ZIP)%%><%%ENDSELECT%%></dd>

					<dt class="child-applications_leases-property-caption field-caption-tv" title="Applications/leases">Applications/leases</dt>
					<dd class="child-applications_leases-property child-records-info" data-id="<%%VALUE(id)%%>" data-table="applications_leases" data-lookup-field="property">
						<a href="applications_leases_view.php?filterer_property=<%%VALUE(id)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
						<a href="applications_leases_view.php?filterer_property=<%%VALUE(id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Applications/leases)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
					</dd>
					<dt class="child-units-property-caption field-caption-tv" title="Units">Units</dt>
					<dd class="child-units-property child-records-info" data-id="<%%VALUE(id)%%>" data-table="units" data-lookup-field="property">
						<a href="units_view.php?filterer_property=<%%VALUE(id)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
						<a href="units_view.php?filterer_property=<%%VALUE(id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Units)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
					</dd>
					<dt class="child-property_photos-property-caption field-caption-tv" title="Property photos">Property photos</dt>
					<dd class="child-property_photos-property child-records-info" data-id="<%%VALUE(id)%%>" data-table="property_photos" data-lookup-field="property">
						<a href="property_photos_view.php?filterer_property=<%%VALUE(id)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
						<a href="property_photos_view.php?filterer_property=<%%VALUE(id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Property photos)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
					</dd>
				</dl>
			</div>
		</td>
