<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the property_photos_init() hook (in hooks/property_photos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="property_photos-photo-<%%VALUE(id)%%>" class="property_photos-photo"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(photo)%%>" data-lightbox="property_photos-photo"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=property_photos&f=photo&v=tv" class="img-thumbnail"></a></td>
		<td id="property_photos-description-<%%VALUE(id)%%>" class="property_photos-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
