<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group properties-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Property Name -->
		<div class="form-group properties-property_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Property Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(property_name)%%></div>
			</div>
		</div>
		<!-- Field: Cover photo -->
		<div class="form-group properties-photo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cover photo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photoSrc1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(photo)%%>';
				var photoSrc2<%%RND1%%>='thumbnail.php?t=properties&f=photo&i=<%%VALUE(photo)%%>&v=dv'
			</script>
			<a href="#" onclick="$j('#photoImg<%%RND1%%>').attr('src', ($j('#photoImg<%%RND1%%>').attr('src').search(/thumbnail\.php/) != -1 && photoSrc1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? photoSrc1<%%RND1%%> : photoSrc2<%%RND1%%>)); return false;"><img id="photoImg<%%RND1%%>" src="thumbnail.php?t=properties&f=photo&i=<%%VALUE(photo)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: Type -->
		<div class="form-group properties-type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(type)%%></div>
			</div>
		</div>
		<!-- Field: Number of units -->
		<div class="form-group properties-number_of_units" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Number of units</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(number_of_units)%%></div>
			</div>
		</div>
		<!-- Field: Owner -->
		<div class="form-group properties-owner" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Owner</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="owner<%%RND1%%>"><%%COMBOTEXT(owner)%%></span></div>
			</div>
		</div>
		<!-- Field: Country -->
		<div class="form-group properties-country" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(country)%%></div>
			</div>
		</div>
		<!-- Field: Street -->
		<div class="form-group properties-street" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Street</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(street)%%></div>
			</div>
		</div>
		<!-- Field: City -->
		<div class="form-group properties-City" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(City)%%></div>
			</div>
		</div>
		<!-- Field: State -->
		<div class="form-group properties-State" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">State</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(State)%%></div>
			</div>
		</div>
		<!-- Field: ZIP -->
		<div class="form-group properties-ZIP" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ZIP</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ZIP)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="properties-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=properties-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'properties',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'properties-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

