<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the references_init() hook (in hooks/references.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="references-reference_name-<%%VALUE(id)%%>" class="references-reference_name"><%%SELECT%%><%%VALUE(reference_name)%%><%%ENDSELECT%%></td>
		<td id="references-phone-<%%VALUE(id)%%>" class="references-phone"><%%SELECT%%><%%VALUE(phone)%%><%%ENDSELECT%%></td>
