<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group rental_owners-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: First name -->
		<div class="form-group rental_owners-first_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">First name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(first_name)%%></div>
			</div>
		</div>
		<!-- Field: Last name -->
		<div class="form-group rental_owners-last_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_name)%%></div>
			</div>
		</div>
		<!-- Field: Company name -->
		<div class="form-group rental_owners-company_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Company name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(company_name)%%></div>
			</div>
		</div>
		<!-- Field: Date of birth -->
		<div class="form-group rental_owners-date_of_birth" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date of birth</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_of_birth)%%></div>
			</div>
		</div>
		<!-- Field: Primary email -->
		<div class="form-group rental_owners-primary_email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Primary email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(primary_email)%%></div>
			</div>
		</div>
		<!-- Field: Alternate email -->
		<div class="form-group rental_owners-alternate_email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Alternate email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(alternate_email)%%></div>
			</div>
		</div>
		<!-- Field: Phone -->
		<div class="form-group rental_owners-phone" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(phone)%%></div>
			</div>
		</div>
		<!-- Field: Country -->
		<div class="form-group rental_owners-country" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(country)%%></div>
			</div>
		</div>
		<!-- Field: Street -->
		<div class="form-group rental_owners-street" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Street</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(street)%%></div>
			</div>
		</div>
		<!-- Field: City -->
		<div class="form-group rental_owners-city" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(city)%%></div>
			</div>
		</div>
		<!-- Field: State -->
		<div class="form-group rental_owners-state" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">State</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(state)%%></div>
			</div>
		</div>
		<!-- Field: Zip -->
		<div class="form-group rental_owners-zip" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Zip</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(zip)%%></div>
			</div>
		</div>
		<!-- Field: Comments -->
		<div class="form-group rental_owners-comments" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comments</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(comments)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="rental_owners-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=rental_owners-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'rental_owners',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'rental_owners-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

