<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the rental_owners_init() hook (in hooks/rental_owners.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="rental_owners-first_name-<%%VALUE(id)%%>" class="rental_owners-first_name text-bold"><%%VALUE(first_name)%%></td>
		<td id="rental_owners-last_name-<%%VALUE(id)%%>" class="rental_owners-last_name text-bold"><%%VALUE(last_name)%%></td>
		<td id="rental_owners-company_name-<%%VALUE(id)%%>" class="rental_owners-company_name text-bold"><%%VALUE(company_name)%%></td>
		<td id="rental_owners-primary_email-<%%VALUE(id)%%>" class="rental_owners-primary_email text-bold"><a href="mailto:<%%VALUE(primary_email)%%>" title="<%%VALUE(primary_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="rental_owners-alternate_email-<%%VALUE(id)%%>" class="rental_owners-alternate_email text-bold"><a href="mailto:<%%VALUE(alternate_email)%%>" title="<%%VALUE(alternate_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="rental_owners-phone-<%%VALUE(id)%%>" class="rental_owners-phone text-bold"><%%VALUE(phone)%%></td>
		<td id="rental_owners-country-<%%VALUE(id)%%>" class="rental_owners-country text-bold"><%%VALUE(country)%%></td>
		<td id="rental_owners-street-<%%VALUE(id)%%>" class="rental_owners-street text-bold"><%%VALUE(street)%%></td>
		<td id="rental_owners-city-<%%VALUE(id)%%>" class="rental_owners-city text-bold"><%%VALUE(city)%%></td>
		<td id="rental_owners-state-<%%VALUE(id)%%>" class="rental_owners-state text-bold"><%%VALUE(state)%%></td>
		<td id="rental_owners-zip-<%%VALUE(id)%%>" class="rental_owners-zip text-right text-bold"><%%VALUE(zip)%%></td>
		<td id="rental_owners-comments-<%%VALUE(id)%%>" class="rental_owners-comments text-bold"><%%VALUE(comments)%%></td>
		<td class="child-properties-owner child-records-info" data-id="<%%VALUE(id)%%>" data-table="properties" data-lookup-field="owner">
			<a href="properties_view.php?filterer_owner=<%%VALUE(id)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="properties_view.php?filterer_owner=<%%VALUE(id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Properties)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
