<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group residence_and_rental_history-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Tenant -->
		<div class="form-group residence_and_rental_history-tenant" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tenant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tenant<%%RND1%%>"><%%COMBOTEXT(tenant)%%></span></div>
			</div>
		</div>
		<!-- Field: Address -->
		<div class="form-group residence_and_rental_history-address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(address)%%></div>
			</div>
		</div>
		<!-- Field: Landlord/manager name -->
		<div class="form-group residence_and_rental_history-landlord_or_manager_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Landlord/manager name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(landlord_or_manager_name)%%></div>
			</div>
		</div>
		<!-- Field: Landlord/manager phone -->
		<div class="form-group residence_and_rental_history-landlord_or_manager_phone" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Landlord/manager phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(landlord_or_manager_phone)%%></div>
			</div>
		</div>
		<!-- Field: Monthly rent -->
		<div class="form-group residence_and_rental_history-monthly_rent" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Monthly rent</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(monthly_rent)%%></div>
			</div>
		</div>
		<!-- Field: Duration of residency from -->
		<div class="form-group residence_and_rental_history-duration_of_residency_from" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Duration of residency from</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(duration_of_residency_from)%%></div>
			</div>
		</div>
		<!-- Field: to -->
		<div class="form-group residence_and_rental_history-to" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">to</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(to)%%></div>
			</div>
		</div>
		<!-- Field: Reason for leaving -->
		<div class="form-group residence_and_rental_history-reason_for_leaving" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reason for leaving</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reason_for_leaving)%%></div>
			</div>
		</div>
		<!-- Field: Notes -->
		<div class="form-group residence_and_rental_history-notes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notes)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
